<% include ../partials/header %>
<div class="container">
    <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>    
    <% } %>
    <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>    
    <% } %>
    <div class="row">
        <div class="col-md-3">
          <p class="lead">YelpCamp</p>
          <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
          </div>
          <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= camps.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= camps.price %> / night</h4>
                    <h4><a><%= camps.name%></a></h4>
                    <p><%= camps.desc %></p>
                    <p>
                        <em>
                            Submitted by <%= camps.author.username %>
                        </em>
                    </p>
                    <% if (currentUser && camps.author.id.equals(currentUser._id)) { %>
                            <a class="btn btn-xs btn-warning" href="/campgrounds/<%= camps._id %>/edit">Edit</a>
                            <form class="delete-form"action="/campgrounds/<%= camps._id %>?_method=delete" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                    <% } %>
                    <hr>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= camps._id%>/comment/new">Add a comment</a>
                </div>
                <hr>
                <% camps.posts.forEach(function(comment) { %>
                <div class="row">
                    <div class="col-md-12">
                         <strong><%= comment.author.username %></strong>
                         <span class="pull-right">10 days ago</span>
                        <p>
                            <%= comment.content %>
                        </p>
                         <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= camps._id %>/comment/<%= comment._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= camps._id%>/comment/<%= comment._id%>?_method=delete" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<!-- Google Map API script -->
<script>
  function initMap() {
    var lat = <%= camps.lat %>;
    var lng = <%= camps.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= camps.name %><br />
      <%= camps.location %></strong>
      <p><%= camps.desc %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlJcQ-CNDvbkiFQP_vlGpUex2V29OhbXM&callback=initMap"></script>

<% include ../partials/footer %>

